<div class="content-page">
  <div class="not-authorized">
    <p><i class="fa fa-ban" aria-hidden="true"></i></p>
    <h1>Not authorized</h1>
    <h4>You are not authorized to access this feature (<%= controller_name %>/<%= action_name %>).</h4>
    <h4>Contact admin to get more info.</h4>
  </div>
</div>